<div class="logo">
    <div class="logo__img">
        <img src="../../../assets/img/logo.png" alt="logo">
    </div>
    <div class="logo__text">Read Comics</div>
</div>
<div class="nav">
    <p-button class="menu" label="Меню" icon="pi pi-bars" iconPos="left"></p-button>
    <p-button label="Прочитано" icon="pi pi-check-circle" iconPos="left"></p-button>
    <p-button label="Сейчас читают" icon="pi pi-clock" iconPos="left"></p-button>
    <p-button label="Каталог" icon="pi pi-book" iconPos="left"></p-button>
</div>
<div class="source">
    <div class="p-inputgroup">
        <p-button icon="pi pi-search" iconPos="left"></p-button>
        <input type="text" pInputText placeholder="Что ищем?">         
    </div>
</div>
<div class="toolbar">
    <p-button icon="pi pi-cog"></p-button>
    <p-button icon="pi pi-bookmark"></p-button>
    <p-button icon="pi pi-bell"></p-button>
    <p-button icon="pi pi-user"></p-button>
</div>