<div class="comics">
    <div class="comics__img">
        <img src="../../../assets/img/comics.jpg" alt="Comics">
    </div>
    <div class="comics__btn">
        <button pButton pRipple type="button" label="Начать чтение" class="p-button-info" icon="pi pi-book"></button>
        <button pButton pRipple type="button" label="Отслеживать" class="p-button-warning" icon="pi pi-check"></button>
        <button pButton pRipple type="button" label="Добавить в закладки" class="p-button-success"
            icon="pi pi-bookmark"></button>
        <button pButton pRipple type="button" label="Пожаловаться" class="p-button-text"
            icon="pi pi-exclamation-circle"></button>
    </div>
    <div class="comics__info">
        <div class="label">
            <div class="title">
                Год:
            </div>
            <div class="text">
                {{comics[0]?.year}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Издатель:
            </div>
            <div class="text">
                {{comics[0]?.publishing}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Тип выпуска:
            </div>
            <div class="text">
                {{comics[0]?.type}}
            </div>
        </div>

        <div class="label">
            <div class="title">
                Статус:
            </div>
            <div class="text">
                {{comics[0]?.status}}
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="big-title">
        <h1>{{comics[0]?.title}}</h1>
    </div>
    <div class="small-title">
        {{comics[0]?.engTitle}}
    </div>
    <div class="tab">
        <p-tabView>
            <p-tabPanel header="Описание">
                <div class="about">{{comics[0]?.about}}</div>
            </p-tabPanel>
            <p-tabPanel header="Главы ({{comics[0]?.sections.length}})">

                <p-table [value]="comics[0]?.sections" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th [width]="100">ID</th>
                            <th [width]="700">Номер</th>
                            <th [width]="100">Страницы</th>
                            <th [width]="100"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-section>
                        <tr>
                            <td>{{section.id}}</td>
                            <td>{{section.section}}</td>
                            <td>{{section.pages}}</td>
                            <td>
                                <p-button icon="pi pi-eye" (onClick)="openComics(section)"></p-button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </p-tabPanel>
        </p-tabView>
    </div>
</div>


<p-dialog header={{numberOfComics}} [(visible)]="displayBasic" [style]="{height: '100vh',width: '50vw'}">
    <div [ngSwitch]="urlOfComics" style="height:100%">
        <ng-template ngSwitchCase="1" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/First.pdf"></ng2-pdfjs-viewer>
        </ng-template>
        <ng-template ngSwitchCase="2" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/Second.pdf"></ng2-pdfjs-viewer>
        </ng-template>
        <ng-template ngSwitchCase="3" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/Thirth.pdf"></ng2-pdfjs-viewer>
        </ng-template>
        <ng-template ngSwitchCase="4" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/Fouth.pdf"></ng2-pdfjs-viewer>
        </ng-template>
        <ng-template ngSwitchCase="5" style="height:100%">
            <ng2-pdfjs-viewer pdfSrc="/assets/Fisth.pdf"></ng2-pdfjs-viewer>
        </ng-template>
    </div>
</p-dialog>