<div class="comics">
    <div class="comics__img">
        <img src="../../../assets/img/comics.jpg" alt="Comics">
    </div>
    <div class="comics__btn">
        <button pButton pRipple type="button" label="Начать чтение" class="p-button-info" icon="pi pi-book"></button>
        <button pButton pRipple type="button" label="Отслеживать" class="p-button-warning" icon="pi pi-check"></button>
        <button pButton pRipple type="button" label="Добавить в закладки" class="p-button-success"
            icon="pi pi-bookmark"></button>
        <button pButton pRipple type="button" label="Пожаловаться" class="p-button-text"
            icon="pi pi-exclamation-circle"></button>
    </div>
    <div class="comics__info">
        <div class="label">
            <div class="title">
                Год:
            </div>
            <div class="text">
                2022
            </div>
        </div>

        <div class="label">
            <div class="title">
                Издатель:
            </div>
            <div class="text">
                Marvel Comics
            </div>
        </div>

        <div class="label">
            <div class="title">
                Тип выпуска:
            </div>
            <div class="text">
                Онгоинг
            </div>
        </div>

        <div class="label">
            <div class="title">
                Статус:
            </div>
            <div class="text">
                Продолжается
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="big-title">
        <h1>Удивительный Человек-паук (Том 6)</h1>
    </div>
    <div class="small-title">
        Amazing Spider-Man (Vol 6)
    </div>
    <div class="tab">
        <p-tabView>
            <p-tabPanel  header="Описание">
                <div class="about">ЧТО НАТВОРИЛ ЧЕЛОВЕК-ПАУК?! Питер не в ладах с ФФ. Он в стороне от Мстителей. Он в контрах с тетей Мэй!
                Никто не хочет видеть Человека-паука - кроме Доктора Осьминога. Ок сидит у Человека-паука на хвосте, а
                Мастер-планировщик задумал нечто поистине ужасное, когда доберется своими щупальцами до Спайди. И что же
                планирует Тумстоун? Как раз к 60-летию Человека-паука начинается новый том AMAZING SPIDER-MAN, и 2022
                год станет самым большим годом для Человека-паука за всю историю! Не верите нам? Мы вернули Джона
                Ромиту-младшего только ради этого!</div>
            </p-tabPanel>
            <p-tabPanel header="Главы ()">
                
            </p-tabPanel>
        </p-tabView>
    </div>


</div>